.Rproj.user
.Rhistory
.Rprofile
.RData
.Ruserdata
*.xlsx
MI_validation_2010.Rmd
MI_validation_2010.nb.html
MI_validation_2014.Rmd
MI_validation_2014.nb.html
MI_validation_2021.Rmd
MI_validation_2021.nb.html
.DS_Store
Demographic_information.nb.html
Demographic_information.Rmd
